<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <body>
            {{>header}}
            <p>This is an about page</p>
            {{>footer}}
        </body>
    </head>
</html>